<div class="container">
  <div class="heading">
    <h3>WELCOME TO KESHARPUR <span id="hospital"> HOSPITAL</span></h3>
  </div>
  <div class="welcompara">
    <p>Welcome to Kesharpur hospital, where compassionate care 
      meets cutting-edge medical expertise.<br> Our hospital has been a cornerstone of health and wellness in 
    Melauli for 30 years, proudly offering<br> healthcare services to our community 
    and visitors from neighbour community.</p>
  </div>
  <div class="vision">
    <h4>Vision</h4>
    <p>Our vision is to transform healthcare by providing highest quality medical care, advanced treatments, and <br>compassionate support, all within an environment that promotes healing, wellness and hope. </p>
  </div>
  <div class="mission">
    <h4>Mission</h4>
    <p>Our mission is to provide exceptional and comprehensive healthcare services to 
      our patients while upholding <br>the highest standards of medical ethics and patient-centered care. 
    </p>
  </div>
  <div class="services">
    <h3 align="center">HEALTHCARE <span id="service">SERVICE</span></h3>
    <p align="center">We provide top healthcare services. </p>
  </div>
  <div class="flex-container">
    <div class="servicee">
      <h5>Primary Health Care</h5>
      <p>The ultimate goal of primary health care is better health for all. 
        The aim is to provide an easily accessible route to care, whatever
         the patient's problem.</p>
    </div>
    <div class="servicee">
      <h5>Modern Medical Lab</h5>
      <p>Our hospital offers patients the best in diagnostic
         care without diverting their focus from care healthcare services.
        by sparing them the effort to manage yet another department.
      </p>
    </div>
    <div class="servicee" >
      <h5>Pregnancy Delivery</h5>
      <p>our hospital offers a host of facilities to ensure high quality antenatal care to 
        treatment for expectant mothers, new mothers and babies.
      </p>
    </div>
   
  </div>
  <div class="flex2">
    <div class="servicee">
      <h5>Medicine</h5>
      <p>A medical specialty dedicated to the delivery of 
        comprehensive medical care to hospitalized patients,
         it is a new standard of excellence 
        by delivering care to high-complexity patients. </p>
    </div>
    <div class="servicee">
      <h5>TB and Chest</h5>
      <p>Our hoispital specializes in providing 
        advanced pulmonary care to a variety of patientsm including 
        the critical
         and hospitalized patients requiring ventilators.</p>
    </div>
    <div class="servicee">
      <h5>Urology</h5>
      <p>Our hospital has a super speciality 
        department that aims of providing consultation, diagnosis 
        and treatment for
         cancerous and noncancerous diseases of the urinary tract.</p>
    </div>
  </div>
</div>


