<div class="main">
  <nav class="navbar navbar-expand-lg " style="background-color:rgb(36, 199, 208)">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navlist">
          <li class="nav-item">
            <a class="nav-link" id="home" routerLink="/Home">Home</a>
          </li>
          <li class="nav-item"  class="special1" >
            <a class="nav-link"  routerLink="/About">About Us</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/Admin/Login">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./Doctor">Doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Patient">Patient</a>
          </li>
          <!-- <li class="nav-item" id="specialList" >
            <a class="nav-link" routerLink="/Login">Login</a>
          </li> -->
        
          <li class="nav-item">
          <li class="nav-item"></li>

        </ul>

      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>