
    <table class="table table-success table-striped" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Symptoms</th>
                <th>Phone Number</th>
                <th>Report</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of viewPatients">
                <td>{{data.firstName}}&nbsp;{{data.lastName}}</td>
                <td>{{data.address}}</td>
                <td>{{data.age}}</td>
                <td>{{data.symptoms}}</td> 
                <td>{{data.phoneNumber}}</td>    
                <td><a routerLink="/finalReport/{{data.id}}">View Report</a></td>
        </tbody>
      </table>
     